@font-face {
  font-family: IRANSansWeb;
  src: url(../fonts/IRANSansWeb.ttf);
}
@font-face {
  font-family: IRANSansWeb_Bold;
  src: url(../fonts/IRANSansWeb_Bold.ttf);
}

body {
  font-family: IRANSansWeb;
  direction: rtl;
  background-color: #fff4e4;
}

.rtl-text {
  text-align: right;
}

#header {
  padding-top: 0.5rem;
  background-color: #f88020;
}

.header-image {
  text-align: center;
  padding-top: 0.25rem;
}

.header-text-div {
  margin-right: 1rem;
  margin-bottom: 0.1rem;
  padding-top: 2rem;
}

.header-text {
  color: rgb(0, 0, 0, 0.9);
  font-size: 1.2rem;
}

@media only screen and (max-width: 770px) {
  .header-text {
    text-align: center;
  }
}

@media screen and (max-width: 1690px) and (min-width: 701px) {
  .header-text-div {
    padding-top: 1.2rem;
    padding-right: 4.5rem;
  }
}

@media screen and (max-width: 700px) and (min-width: 576px) {
  .header-text-div {
    padding-top: 1.2rem;
    padding-right: 8rem;
  }
  .body-upper-cointainer-text {
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .body-upper-cointainer-image {
    padding-left: 0rem;
    text-align: center;
  }
}

.body-upper-cointainer-text {
  padding-right: 4rem;
  padding-top: 2rem;
}

.body-upper-cointainer-image {
  padding-left: 2rem;
  text-align: center;
}

.container-fluid-body {
  padding-top: 2rem;
  text-align: right;
}

.middle-pos-button {
  text-align: center;
}
